/* Fondo del carrito */
.backcarts {
  background-image: url('/shirtsback.png');
  background-size: cover;
  background-position: center;
  background-repeat: repeat-y;
  width: 100vw;
  min-height: 100vh;
  background-color: #000000;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
}

.shop-t {
  margin-top: 120px;
}

/* Estilos para el total */
.total-text {
  background-color: rgba(255, 255, 255, 0.897);
  padding: 5px;
  color: rgb(56, 46, 46);
  font-weight: bold;
  text-align: end;
}

/* Contenedor con scroll solo para los items del carrito */
.cart-items-container {
  max-height: 500px;
  overflow-y: scroll;
  padding-right: 10px;
}

/* Ocultar scrollbar */
.cart-items-container::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.cart-items-container::-webkit-scrollbar-thumb {
  background-color: transparent;
}

.cart-items-container::-webkit-scrollbar-track {
  background: transparent;
}

/* Estilos para el botón de checkout */
.checkout-btn {
  background-color: #e60000; /* Naranja vibrante */
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 12px 20px;
  border: none;
  border-radius: 0px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  width: 100%;
  max-width: 300px;
}

/* Efecto hover */
.checkout-btn:hover {
  background-color: #000000; /* Un tono más oscuro de naranja */
}

/* Estado deshabilitado */
.checkout-btn:disabled {
  background-color: #ccc;
  cursor: not-allowed;
  transform: none;
}
