.backcarts {
    background-image: url('/shirtsback.png');
    background-size: cover; 
    background-position: center;
    background-repeat: repeat-y; /* Ya no se repite, se adapta al tamaño */
    width: 100vw;
    min-height: 100vh;
    background-color: #000000;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
  }
  .total-text {
    background-color: rgba(255, 255, 255, 0.7); /* blanco semitransparente */
    padding: 5px;
    color: rgb(56, 46, 46); /* cambia el texto a negro para que contraste */
    font-weight: bold;
 }