.createaccount-card {
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 800px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
  }
  

  .createaccount-card__image {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('/createaccount-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #21c94b;
    width: 100%;
    min-height: 600px;
  }

  .createaccount-card__image_two {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('/createaccount-bg-two.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #1de480;
    width: 100%;
  }

  .form-container {
    background-color: rgba(255, 255, 255, 0.8); /* Fondo blanco con algo de opacidad */
    border: 1px solid red; /* Borde rojo */
    padding: 30px;
    border-radius: 0px;
    width: 100%;
    max-width: 400px; /* Limitar el tamaño del formulario */

  }
  
  .create-account-form {
    display: flex;
    flex-direction: column;
  }
  
  .input-group-createaccount {
    margin-bottom: 15px;
  }
  
  .input-group-createaccount label {
    font-weight: bold;
  }
  
  .input-group-createaccount input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #E3E3E3;
    background-color: #E3E3E3;
    border-radius: 2px;
    font-size: 14px;
  }
  
  .button-createaccount {
    padding: 10px;
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 0px;
    width: 200px;
    height: 60px;
    cursor: pointer;
    font-size: 17px;
    font-weight: normal;
    margin-top: 20px;
    transition: background-color 0.3s ease;
  }
  
  .button-createaccount:hover {
    background-color: #ff0000;
  }

  .title-createaccount{
    margin-top: 100px;
    font-size: 60px;
    font-weight: bold;
    text-align: center;
  }

  @media (max-width: 845px) {
    .createaccount-card {
      flex-direction: column;
    }

    .createaccount-card__image_two {
        width: 100%;
    }

    .form-container {
        margin-top: 0px;
        width: 90%;
    }

    .button-createaccount {
        margin-bottom: 100px;
      }
  
  }