.createaccount-card {
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
  }
  

  .createaccount-card__image {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('/createaccount-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #21c94b;
    width: 100%;
    min-height: 100vh;
    margin-top: 0%;
  }





  .alert-custom-error {
  background-color: #000;
  color: #ff0000;
  border: 1px solid #ff0000;
  font-weight: normal;
  text-align: center;
  animation: fadeIn 0.5s ease forwards;
  border-radius: 0px;
  padding: 12px;
}

.text-login-format-error {
  color: #ff0000;
  font-size: 0.85rem;
}


  .createaccount-card__image_two {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('/createaccount-bg-two.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #1de480;
    width: 100%;
  }

  .form-container {
    background-color: rgba(255, 255, 255, 0.8); /* Fondo blanco con algo de opacidad */
    border: 1px solid red; /* Borde rojo */
    padding: 30px;
    border-radius: 0px;
    width: 100%;
    max-width: 400px; /* Limitar el tamaño del formulario */

  }
  
  .create-account-form {
    display: flex;
    flex-direction: column;
  }
  
  .input-group-createaccount {
    margin-bottom: 15px;
  }
  
  .input-group-createaccount label {
    font-weight: bold;
  }
  
  .input-group-createaccount input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #E3E3E3;
    background-color: #E3E3E3;
    color: #000000;
    border-radius: 2px;
    font-size: 14px;
    transition: background-color 0.3s ease;
  }

  .input-group-createaccount input:focus {
    outline: none; /* Elimina el borde azul predeterminado del navegador */
    border: 1px solid #ff0000; /* Cambia el borde al rojo */
    background-color: #E3E3E3; /* Cambia el fondo a blanco */
    box-shadow: 0 0 5px rgba(255, 0, 0, 0.452); /* Efecto sutil de sombra roja */
  }
  
  
  .button-createaccount {
    padding: 18px;
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 0px;
    width: 200px;
    cursor: pointer;
    font-size: 17px;
    font-weight: normal;
    margin-top: 20px;
    transition: background-color 0.3s ease;
    display: block;
    margin: 20px auto 0 auto;
  }
  
  .button-createaccount:hover {
    background-color: #ff0000;
    color: #ffffff;
  }

  .title-createaccount{
    margin-top: 90px;
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    color: #000000;
  }

  .createaccount-label{
    font-size: 15px;
    font-weight: normal !important;
  }

  .createaccount-login{
    color: #ff0000;
    text-decoration: underline;
    font-size: 14px;
    transition: color 0.5s ease; 
  }

  .createaccount-login:hover{
    color: #000000;
  }

  .div-create-to-login{
    padding-top: 7px;
    padding-bottom: 20px;
  }

  .input-group-createaccount select {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #E3E3E3;
  background-color: #E3E3E3;
  color: #000000;
  border-radius: 2px;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

.input-group-createaccount select:focus {
  outline: none;
  border: 1px solid #ff0000;
  background-color: #E3E3E3;
  box-shadow: 0 0 5px rgba(255, 0, 0, 0.452);
}


  .show-newpassword-create {
    background-color: #ff0000; /* Fondo rojo */
    color: #ffffff; /* Texto blanco */
    border: none; /* Sin borde */
    font-size: 12px;
    padding: 8px 16px;
    cursor: pointer;
    border-radius: 0px; /* Redondear bordes */
    transition: background-color 0.3s ease; /* Transición suave para el cambio de color */
    margin-top: 20px;
  }
  
  .show-newpassword-create:hover {
    background-color: #000000; /* Fondo rojo oscuro al pasar el mouse */
    color: #ffffff;
  }

  @media (max-width: 845px) {
    .createaccount-card {
      flex-direction: column;
    }

    .createaccount-card__image_two {
        width: 100%;
    }

    .form-container {
        margin-top: 0px;
        width: 90%;
    }

    .div-create-to-login{
        margin-bottom: 100px;
      }
  
  }