.btn-dark:hover {
    background-color: #ff0000 !important;
  }

  .btn-editclothing{
    background-color: #ff0000 !important;
    color: #ffffff;
    margin-left: 5px;
  }

  .btn-editclothing:hover {
    background-color: #000000 !important;
    color: #ffffff;
  }

    .card {

    border-radius: 10px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
    transition: all 0.2s ease;
    height: 100%;
    width: 100vw;
  }
  
  .card:hover {
    transform: translateY(-5px);
  }
  
  .card-img-top {
    object-fit: cover; /* Asegura que la imagen cubra bien el espacio */
    height: 200px; /* Ajusta el tamaño de las imágenes */
  }
  