.backfirstuse {
    background-image: url('/primeruso.jpg');
    background-size: cover; 
    background-position: center;
    background-repeat: repeat-y; /* Ya no se repite, se adapta al tamaño */
    width: 100vw;
    min-height: 100vh;
    background-color: #000000;
    position: fixed;
    top: 120px;
    left: 0;
    z-index: 0;
  }
  .welcome-container {
    padding: 40px;
    font-family: sans-serif;
  }
   
  .welcome-title {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 10px;
  }
   
  .divider {
    border: 1px solid #ccc;
    margin-bottom: 30px;
  }
   
  .welcome-content {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }
   
  .welcome-image img {
    width: 100%;
    max-width: 400px;
    object-fit: cover;
    border: 3px solid red;
  }
   
  .welcome-text {
    background-color: black;
    color: white;
    padding: 30px;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
   
  .start-button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #c92525;
    color: white;
    border: none;
    cursor: pointer;
    align-self: flex-start;
    font-weight: bold;
  }
   
  .start-button:hover {
    background-color: #a31d1d;
  }
.firstimg{
    max-width: 400px;
}