.backshirts {
    background-image: url('/shirtsbg-small.png');
    background-size: contain 100%; /* Ahora cubre toda la pantalla */
    background-position: center;
    background-repeat: repeat-y; /* Ya no se repite, se adapta al tamaño */
    width: 100vw;
    min-height: 100vh;
    background-color: #000000;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
  }
  
  /* Zona de contenido encima del fondo */
  .content-zone {
    position: relative;
    z-index: 1;
  }
  
  .card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
    transition: all 0.2s ease;
    height: 100%;
    width: 100%;
  }
  
  .card:hover {
    transform: translateY(-5px);
  }
  
  .card-img-top {
    object-fit: cover; /* Asegura que la imagen cubra bien el espacio */
    height: 200px; /* Ajusta el tamaño de las imágenes */
  }
  
  .shirtstitle {
    color: red; /* Letras rojas */
    background-color: black; /* Fondo negro */
    font-weight: bold;
    font-size: 35px;
    z-index: 2;
    display: inline-block;
    text-align: center;
  }

  .title-wrapper {
    text-align: center;
  }
  
  
  