.newpassword-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}
  
.formnewpassword {
    flex: 1;
    background-color: #000000;
    padding: 30px;
    display: flex;
    flex-direction: column; /* Formulario en columna */
    justify-content: center;
    align-items: center;
    min-width: 300px;
}
  
.imgnewpassword {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.imgnewpassword img {
    width: 100%;
    height: auto;
    object-fit: contain;
}

.newpassword-title {
    font-size: 4rem;  /* Cambia el tamaño de la fuente */
    font-weight: bold; /* Ajusta el grosor de la fuente (normal) */
    text-align: center; /* Para asegurarse de que el título esté centrado */
    color: #ffffff;
}

.div-newpasswordinfo{
    max-width: 420px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.info-newpassword{
    font-size: 17px;
    color: #ffffff;
}

.form-label-newpassword{
    font-size: 20px;
    color: #ffffff;
}

.formcontrol-newpassword{
    background-color: #222222 !important;
    border-color: #626262 !important;
}

.center-btnnewpassword {
    display: flex;              /* Utiliza flexbox */
    justify-content: center;    /* Centra el contenido horizontalmente */
    width: 100%;                /* Asegúrate de que el contenedor ocupe todo el ancho disponible */
}

.btn-newpassword{
    background-color: #ff0000;
    color: #ffffff;
    font-size: 20px;
    padding: 14px;
    width: 150px;
    margin-top: 40px;
    border-radius: 0%;
}

.btn-newpassword:hover{
    background-color: #000000;
    color: #ff0000;
    border-color: #ff0000;
    font-size: 20px;
    padding: 14px;
    width: 150px;
    margin-top: 40px;
}

.show-newpassword {
    background-color: #ff0000; /* Fondo rojo */
    color: #ffffff; /* Texto blanco */
    border: none; /* Sin borde */
    font-size: 12px;
    padding: 8px 16px;
    cursor: pointer;
    border-radius: 5px; /* Redondear bordes */
    transition: background-color 0.3s ease; /* Transición suave para el cambio de color */
    margin-top: 20px;
  }
  
  .show-newpassword:hover {
    background-color: #cc0000; /* Fondo rojo oscuro al pasar el mouse */
    color: #ffffff;
  }
  
  .back-button-newpassword{
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
    color: #ffffff; /* Ajusta el color según tu diseño */
    z-index: 10;
    margin-top: 125px;
  }
  
  .back-button-newpassword:hover {
    color: #ff0000;
  }
/* Responsive */
@media (max-width: 975px) {
    /* Para pantallas pequeñas, cambia la imagen */
    .imgnewpassword img {
        content: url('/newpassword-sm.png'); /* Cambia esta URL por la ruta de la imagen más pequeña */
    }
  
    .newpassword-container {
        flex-direction: column;
    }
  
    .formnewpassword,
    .imgnewpassword {
        width: 100%;
        order: unset;
    }
  
    .newpassword-title {
        font-size: 2.5rem;  /* Cambia el tamaño de la fuente */
    }
  
    .btn-newpassword {
        font-size: 15px;
        padding: 15px;
        width: 110px;
        margin-top: 40px;
    }
  
    .info-newpassword {
        font-size: 15px;
    }
  
    .form-label-newpassword {
        font-size: 15px;
    }
}
