.forgot-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 20px;
    flex-wrap: wrap;
  }
  
  .formforgotpass {
    flex: 1;
    background-color: #000000;
    padding: 30px;
    display: flex;
    flex-direction: column; /* Formulario en columna */
    justify-content: center;
    align-items: center;
    min-width: 300px;
  }
  
  .imgforgotpass {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .imgforgotpass img {
    width: 100%;
    height: auto;
    object-fit: contain;
  }

  .forgot-title {
    font-size: 4rem;  /* Cambia el tamaño de la fuente */
    font-weight: bold; /* Ajusta el grosor de la fuente (normal) */
    text-align: center; /* Para asegurarse de que el título esté centrado */
    color: #ffffff;
  }

  .div-forgotinfo{
    max-width: 420px;
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .info-forgot{
    font-size: 17px;
    color: #ffffff;
  }

  .form-label-forgot{
    font-size: 20px;
    color: #ffffff;
  }

  .formcontrol-forgot{
    background-color: #222222 !important;
    border-color: #626262 !important;
  }

  .center-btnforgot {
    display: flex;              /* Utiliza flexbox */
    justify-content: center;    /* Centra el contenido horizontalmente */
    width: 100%;                /* Asegúrate de que el contenedor ocupe todo el ancho disponible */
  }
  
  
  /* Responsive */
  @media (max-width: 975px) {
    .forgot-container {
      flex-direction: column;
    }
  
    .formforgotpass,
    .imgforgotpass {
      width: 100%;
      order: unset;
    }

    .forgot-title {
        font-size: 2.5rem;  /* Cambia el tamaño de la fuente */
      }
  }
  