.ep-wrapper {
    background-color: #11111100;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    z-index: 5; 
    position: relative;
    min-width: 100vh;
  }

  .ep-btn-back {
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: #000000;
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
    z-index: 10; /* Eleva el botón por encima de otros elementos */
  }
  
  
  .ep-btn-back:hover {
    background-color: #ff0000;
    color: #ffffff;
  }
  
  
  .backeditemployee {
    background-image: url('addproduct-bg.png');
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;
    position:absolute; /* <- Cambiado a fixed */
    top: 120px;
    left: 0;
    z-index: 0; /* Asegura que quede detrás */
  }
  
  .ep-card {
    background-color: #000;
    width: 80%;
    max-width: 800px;
    min-height: 400px;
    height: auto;
    padding: 1rem;
    border-radius: 10px;
    overflow: hidden;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    z-index: 5; 
  }
  
  .ep-label {
    color: #ddd;
    font-size: 0.9rem;
  }
  
  .ep-input {
    background-color: #1e1e1e;
    color: #fff;
    border: 1px solid #444;
    font-size: 0.9rem;
    padding: 0.5rem;
  }
  
  .ep-input::placeholder {
    color: #aaa;
  }
  
  .ep-btn-upload {
    background-color: #444;
    color: #fff;
    padding: 0.5rem;
    font-size: 0.9rem;
  }
  
  .ep-btn-clear {
    background-color: transparent;
    border: 1px solid #ffffff;
    color: #ffffff;
    padding: 0.5rem;
    font-size: 0.9rem;
    border-radius: 0%;
  }
  
  .ep-btn-clear:hover {
    background-color: #fff;
    color: #000;
  }
  
  .ep-btn-save {
    background-color: #28a745;
    color: #fff;
    padding: 0.5rem;
    font-size: 0.9rem;
  }
  
  .ep-img-preview {
    max-height: 200px;
    object-fit: cover;
    border: 1px solid #333;
  }
  
  form .col-6 {
    flex: 0 0 50%;
    padding: 0.5rem;
  }
  
  form .col-12 {
    flex: 0 0 100%;
  }
  
  .btnsaveemployee {
    background-color: #ff0000;
    border-radius: 0%;
  }
  
  .btnsaveitem:hover {
    background-color: #000000;
    color: #ff0000;
    border-color: #ff0000;
  }
  
  .btnupload-image {
    background-color: #ffffff;
    color: #000000;
    border-radius: 0%;
  }
  
  .btnupload-image:hover {
    background-color: #000000;
    color: #ff0000;
    border-color: #ff0000;
  }
  
  .editemployee-title {
    z-index: 2;
    font-weight: bold;
    background-color: #ffffff;
    color: #000000 !important;
  }

  .white-wallpaper{
    background-color: #ffffff;
  }
  
  
  @media (max-width: 1025px) {
    .backeditemployee {
      background-image: url('addproduct-bg-2.png');
    }
  }
  
  @media (max-width: 768px) {
    .ep-card {
      width: 90%;
      max-height: none;
      margin: 0;
    }
  
    .editemployee-title {
      margin-top: 40px;
    }
  
    .ep-wrapper {
      padding: 10px;
      height: auto;
    }
  
    .backeditemployee {
      background-image: url('addproduct-bg-3.png');
      background-repeat: repeat-y;
      z-index: 1;
    }
  
    .ep-img-preview {
      max-height: 150px;
    }
  
    .ep-btn-upload,
    .ep-btn-clear,
    .ep-btn-save {
      width: 100%;
      padding: 0.5rem;
    }
  
    form .col-6 {
      flex: 0 0 100%;
    }

    .btn-marginpd{
      margin-bottom: 20px !important;
    }

    .ep-btn-back{
      font-size: 12px;
    }
  }
  
    /* Hacer que el contenedor no se sobrepase en pantallas pequeñas */
    .ap-wrapper {
      padding: 10px;     /* Reducir padding alrededor para evitar el desbordamiento */
      height: auto;      /* Ajustar el tamaño del contenedor según el contenido */
    }