.verify-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.formverifycode {
    flex: 1;
    background-color: #000000;
    padding: 30px;
    display: flex;
    flex-direction: column; /* Formulario en columna */
    justify-content: center;
    align-items: center;
    min-width: 300px;
}

.imgverifycode {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imgverifycode img {
    width: 100%;
    height: auto;
    object-fit: contain;
}

.verify-title {
    font-size: 4rem;  /* Cambia el tamaño de la fuente */
    font-weight: bold; /* Ajusta el grosor de la fuente (normal) */
    text-align: center; /* Para asegurarse de que el título esté centrado */
    color: #ffffff;
}

.div-verifyinfo{
    max-width: 420px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.info-verify{
    font-size: 17px;
    color: #ffffff;
}

.form-label-verify{
    font-size: 20px;
    color: #ffffff;
}

.formcontrol-verify{
    background-color: #222222 !important;
    border-color: #626262 !important;
}

.center-btnverify {
    display: flex;              /* Utiliza flexbox */
    justify-content: center;    /* Centra el contenido horizontalmente */
    width: 100%;                /* Asegúrate de que el contenedor ocupe todo el ancho disponible */
}

.btn-verify{
    background-color: #ff0000;
    color: #ffffff;
    font-size: 20px;
    padding: 14px;
    width: 150px;
    margin-top: 40px;
    border-radius: 0%;
    transition: background-color 0.3s ease; /* Transición suave para el cambio de color */
}

.btn-verify:hover{
    background-color: #000000;
    color: #ff0000;
    border-color: #ff0000;
    font-size: 20px;
    padding: 14px;
    width: 150px;
    margin-top: 40px;
}

.back-button-verifycode{
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 30px;
  font-family: 'Courier New', Courier, monospace;
  text-decoration: none;
  color: #ffffff; /* Ajusta el color según tu diseño */
  z-index: 10;
  margin-top: 125px;
}

.back-button-verifycode:hover {
  color: #ff0000;
}

/* Responsive */
@media (max-width: 1025px) {
    /* Para pantallas pequeñas, cambia la imagen */
    .imgverifycode img {
      content: url('/verifycode-sm.png'); /* Cambia esta URL por la ruta de la imagen más pequeña */
    }

    .verify-container {
      flex-direction: column; /* Coloca los elementos en columna (uno debajo del otro) */
    }

    .formverifycode {
      width: 100%;
      order: 1; /* El formulario debe estar primero en pantallas pequeñas */
    }

    .imgverifycode {
      width: 100%;
      order: 2; /* La imagen debe estar después del formulario */
    }

    .verify-title {
      font-size: 2.5rem;  /* Cambia el tamaño de la fuente */
    }

    .btn-verify {
      font-size: 15px;
      padding: 15px;
      width: 110px;
      margin-top: 40px;
    }

    .info-verify {
      font-size: 15px;
    }

    .form-label-verify {
      font-size: 15px;
    }
}
