.backclothing {
    background-image: url('/clothingbg.png');
    background-size: cover; 
    background-position: center;
    background-repeat: repeat-y; /* Ya no se repite, se adapta al tamaño ok */
    width: 100vw;
    min-height: 100vh;
    background-color: #000000;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
}
  
  
.container-fluid {
      padding: 0;
      margin: 0;
}
  
.content-wrapper2 {
    display: flex;
    align-items: center;          /* Centrado horizontal */
    justify-content: flex-start;  /* Alineado arriba */
    padding-top: 100px;
    padding-bottom: 120px;
    position: relative;
    z-index: 3;
    flex-direction: column;
    text-align: center;

    width: 100%;
}

.container {
    max-width: 1140px;           /* Tamaño máximo de Bootstrap */
    width: 100%;
}

.clothingtitle{
    color: #000000;
    font-weight: bold;
    font-size: 40px;
}


@media (max-width: 1720px) {
    .backclothing {
      background-image: url('/shirtsbg-small.png'); /* Cambia aquí a la imagen deseada */
    }
  }
  




