.backsearch {
    background-image: url('/searchbg.png');
    background-size: cover ; /* Ahora cubre toda la pantalla */
    background-position: center;
    background-repeat: repeat-y; /* Ya no se repite, se adapta al tamaño */
    width: 100vw;
    min-height: 100vh;
    background-color: #000000;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
  }

.search-container {
    padding: 80px 20px;
    background-color: #ffffff00;
    min-height: 100vh;
    color: #000000;
    text-align: center;
    position: relative;
    z-index: 2;
  }
  
  .search-title {
    font-size: 2.5rem;
    color: #ff0000;
    margin-bottom: 30px;
    font-family: 'Orbitron', sans-serif;
    font-weight: bold;
  }
  
  .search-bar {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
  }
  
  .search-input {
    width: 80%;
    max-width: 500px;
    padding: 12px 20px;
    border: 1px solid #000000; /* Borde negro delgado */
    border-radius: 5px;
    background-color: #ffffff; /* Fondo blanco */
    color: #000000; /* Texto en negro */
    font-size: 1rem;
  }
  
  .no-results {
    font-size: 1.2rem;
    color: #000000;
    padding: 20px;
    border-radius: 8px;
    display: inline-block;
    margin-top: 20px;
  }
  

  .recommend-title {
    font-size: 2rem;
    color: #000000;
    margin: 40px 0 20px;
    font-family: 'Orbitron', sans-serif;
    font-weight: bold;
  }

  .filter-menu {
    background-color: rgba(255, 255, 255, 0.85); /* Blanco semi-transparente */
    border: 1px solid #ccc;
    border-radius: 10px;
    color: #000000;
  }

  .form-label {
    color: #000;
  }

  input[type="range"] {
    accent-color: #ff0000;
  }

  .btnsearchfilters{
    font-weight: normal !important;
  }
  
  .input-style{
    background-color: #ffffff !important;
    color: #000000 !important;
  }

  .btn-limpiar{
    margin-top: 20px;
  }

  @media (max-width: 580px) {
    .btnsearchfilters {
      font-size: 12px;
    }
  }